* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #222;
}

/* Header */
.header {
    background: #ab680a;
    height: 80px;
    display: flex;
    align-items: center;
    border: 1px solid #aaa;
}

.logo {
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.logo img {
    display: flex;
    justify-content: right;
    width: 105px;
    height: 85.1px;
    object-fit: contain;
    padding-left: 0px;

}

.site {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Navigation */
.nav {
    display: flex;
    border: 1px solid #aaa;
    background: #f3d2a5;
}

.nav a {
    flex: 1;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    color: #222;
    border-right: 1px solid #aaa;
}

.nav a:last-child {
    border-right: none;
}

.nav a:hover {
    background: #ddd;
}

/* Main Layout */
.layout {
    display: flex;
    min-height: 500px;
    border: 1px solid #aaa;
}

.sidebar {
    width: 150px;
    border-right: 1px solid #aaa;
    padding-top: 10px;
}

.sidebar a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: #222;
}

.sidebar a:hover {
    background: #eee;
}

/* Content */
.content {
    flex: 1;
    padding: 30px;
}

.content h2 {
    text-align: center;
}

/* Login / Registration Box */
.box {
    width: 420px;
    margin: auto;
    padding: 25px;
    border: 1px solid #999;
}

.box label {
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #888;
}

textarea {
    height: 70px;
}

.options {
    margin: 8px 0;
}

.dob {
    display: flex;
    gap: 8px;
}

.dob select {
    padding: 7px;
    flex: 1;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 8px 18px;
    margin: 5px;
    cursor: pointer;
}

/* Books */
.book {
    display: flex;
    align-items: center;
    gap: 25px;
    border: 1px solid #aaa;
    padding: 15px;
    margin-bottom: 15px;
}

.book img {
    width: 90px;
    height: 110px;
    object-fit: cover;
}

.book-info {
    flex: 1;
    line-height: 1.7;
}

/* Cart */
.cart-box {
    max-width: 650px;
    margin: auto;
    border: 1px solid #999;
    padding: 20px;
}

.cart-row {
    display: grid;
    grid-template-columns: 70px 1fr 80px 70px 80px;
    border-bottom: 1px solid #ccc;
    padding: 12px 5px;
}

.total {
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
}
